.header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.div-one{
    display: flex;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
    padding: 0 15px 0 15px;
}

.nav-one{
    display: flex;
    align-items: center;

}
body{
    font-family: 'Roboto', sans-serif;
   color: #434455;
    background-color: #ffffff;
   
}

img{
    display: block;
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    display: inline-block;
    margin-bottom: 16px; 
}

.ul-one{
    display: flex;
    gap: 40px;
}

.span{
color: #2e2f42;
}
 .first-studio{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
     padding: 24px 0 24px;
     position: relative;
     transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #404bbf;
    
 }

.first{
 font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
 color:#2e2f42;   
 padding: 24px 0 24px;
 position: relative;
 color: #404bbf;
}


.first-studio::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    width: 100%;
}

.first:hover,
.first:focus{
color:#404bbf;
}

.adress{
font-style: normal;
}

.ul-two{
    display: flex; 
    gap: 40px;
    margin-right: 40px 
}

.list-first{
    font-style: normal;
line-height: 1.5;
letter-spacing: 0.02em ;
color:#434455;
transition:color 250ms cubic-bezier(0.4, 0, 0.2, 1); 

}

.list-first:hover,
.list-first:focus{
color: #404bbf;
}

.section{
background-color:#2e2f42;
padding: 188px 0;
max-width: 1440px;
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-1.jpg);
}

.head-first{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
}

.button-first{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-first:hover,
.button-first:focus{
    background-color: #404BBF;
    cursor: pointer;
}

.section-qualities{
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.list-qualities{
    display: flex;
    gap: 24px;
}

.sublist-qualities{
    width: calc((100% - 72px) / 4);
}

.sublist-qualities-pic{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.unordered-list-first{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
margin-bottom: 8px;
}

.paragraph-first{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-second{
    background-color: #F4F4FD;
    padding: 120px 0;

}

.head-second{
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;

}


.socials-net{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.socials-net .link {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    
  }
  .socials-net .link:hover,
  .socials-net .link:focus {
    background-color: #404bbf; 
  }


  
  .socials-net .icon {
    fill: #f4f4fd;
  }
  
  .socials-item .link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color:#4d5ae5;
  }

.unordered-list-second{
    display: flex;
    gap: 24px;
}

.list-second{
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.persons{
    padding: 32px 0;
    text-align: center;
margin-bottom: 8px;

}

.head-third{
font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color:#2E2F42;
margin-bottom: 8px
}

.paragraph-second{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing:0.02em;
    color:#434455;
}


.section-third{
    padding-top: 120px;
    padding-bottom: 120px; 
}

.list-third{
width: calc((100% - 48px) / 3);
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.listh-third:hoverб
.list-third:focus{
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-extrapoint{
    position: absolute;
    top: 0;
    color: var(--bright_text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 40px 32px;
    background-color: var(--primary-brand-color);
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-container{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.footer{
    background-color: #2e2f42;
    padding: 100px 0;
}

.spann{
    color:#f4f4fd;
}

.head-fourth{
font-size: 20px;
font-weight: 500;
letter-spacing: 0.02em;
color: #2E2F42;
line-height: 1.2;
letter-spacing: 0.02em;
margin-bottom: 8px;
}

.paragraph-third{
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.paragraph-footer{
    line-height: 1.5;
    color:#F4F4FD;
    letter-spacing: 0.02em;
}